/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/* Styles for the body */

body {
	font-family: "Inconsolata", monospace;
	color: antiquewhite;
	background-color: antiquewhite;
}
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #BFA93B;
}

.resume-main {
	background-color: white;
	color: #A64F03; 
}

.resume-aside {
	background-color: #A64F03;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	color: antiquewhite; 
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #A64F03;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
		
}
.square {
}
